@import url("./vendor/normalize.css");
@import url("./fonts/fonts.css");

@import url(./blocos/page.css);
@import url(./blocos/header.css);
@import url(./blocos/lead.css);
@import url(./blocos/intro.css);
@import url(./blocos/footer.css);


