.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    font-family: 'Inter';
    justify-content: center;
    margin-bottom: 0px;
    border-bottom: 0px;
}

@media screen and (max-width: 544px){
    .header{
        margin: 0 66px 50px;
        /* border: 2px solid red; */
    }
    .header__logo{
    width: 188px;
    height: 52px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 545px) {
    .header{
        margin: 0 257px 0;
        /* border: 2px solid yellowgreen */
}
    .header__logo{
        width: 254px;
        height: 66px;
    }
    
}