.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    font-family: 'Inter';
    justify-content: center;
    /* margin-top: 34px; */
    margin-bottom: 0px;
    border-bottom: 0px;
}