.intro {
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: right;


}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 0%;


}

.intro__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;

}

.intro__autor {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
    margin: 10px 0px 32px 0px;

}

.intro__text {
    font-size: 16px;
    line-height: 163%;
    margin: 0px 0px 92px;

}