.lead {
    margin: 0 auto;
    max-width: 984px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem linha se necessário */

}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 34px;
    flex-wrap: wrap;

}

.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 64px;
    flex-wrap: wrap;
}

.lead__image {
    max-width: 100%;
    /* Garante que a imagem não ultrapasse a largura do contêiner */
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Centraliza a imagem horizontalmente */
}

@media screen and (max-width: 544px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin: 0 16px 16px;
        /* border: 2px solid red; */
    }

    .lead__subtitle {
        font-size: 16px;
        font-weight: 20px;
        margin: 0px 16px 40px;
        /* border: solid 2px red; */
    }
}

@media screen and (max-width: 1024px) and (min-width: 545px) {
    .lead__title {
        font-size: 75px;
        line-height: 79px;
        margin: 90px 24px 25px;
        /* border: 2px solid greenyellow; */
    }

    .lead__subtitle {
        font-size: 30px;
        font-weight: 36px;
        margin: 0 24px 30px;
        /* border: 2px solid greenyellow; */
    }
}