.lead {
    margin: 0 auto;
    max-width: 984px;
    flex-wrap: wrap;
    /* Permite que os itens quebrem linha se necessário */

}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 34px;

}

.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 64px;
}

.lead__image {
    max-width: 100%;
    /* Garante que a imagem não ultrapasse a largura do contêiner */
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Centraliza a imagem horizontalmente */
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }

}

@media screen and (max-width: 768px) and (min-width: 321px) {
    .lead__title {
        font-size: 75px;
        line-height: 79px;
    }
}