.lead{
    margin: 0 auto;
    max-width: 984px;

}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 34px;

}

.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 64px;
}

.lead__image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Centraliza a imagem horizontalmente */
}