.footer__copyright {
    font-size: 14px;
    font-weight: 16;
    margin: 92px 0 0 0;
    padding-bottom: 24px;
    justify-content: center;
    display: flex;
    /* border: red 2px solid; */
}

@media screen and (max-width: 544px) {
    .footer__copyright{
        font-size: 14px;
        font-weight: 14px;
        margin: 0 16px;
        padding-bottom: 24px;
        /* border: solid 2px red; */
    }
}

@media screen and (max-width: 1024px) and (min-width: 545px){
    .footer__copyright{
        font-size: 14px;
        font-weight: 18px;
        margin: 0 24px;
        padding-bottom: 24px;
        /* border: solid 2px green; */

    }
}