.page {
    margin: 0;
    padding: 34px 0 0 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

body{
    background-color: #2A2C2F;

}
@media screen and (max-width: 544px) {
    .page{
        padding-top: 20px 0 0;
    }
}

@media screen and (max-width: 1024px){
    .page{
        padding-top: 30px 0 0;
    } 
}
