/* .photo-grid{
max-width: 1184px;
margin: 0 auto;
justify-content: center;
display: flex;
gap:16px;
flex-wrap: wrap;
} */

.photo-grid {

    max-width: 1280px;
    margin: 118px auto 92px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;

}

.photo-grid__itens {
    width: 100%;
    height: 213px;
    object-fit: cover;
}

@media screen and (max-width:768px) and (min-width: 320px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 16px;
        margin: 64px 24px 88px;
        
    }
    
    .photo-grid__itens {
        height: 264px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 38px 16px 62px;
        margin: 38px 16px 62px;
    }

    .photo-grid__itens{
        height: 216px;
        width: 100%;
    }
}