.places {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
}

.place {
    width: 100%;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 460px auto;
    grid-template-areas:
        "place__title place__website"
        "place__image place__paragraph"
        "place__bottom .";
    gap: 48px 40px;
}

.place__title {
    grid-area: place__title;
    font-size: 72px;
    width: 100%;
    height: 100%;
    margin: 0;

}

.place__image {
    width: 460px;
    height: 460px;
    margin: 0 0;
    object-fit: cover;
}

.place__image:hover {
    box-shadow: 10px 10px 25px 0px #00000080;


}

.place__bottom {
    font-size: 18px;
    font-weight: 600px;
    width: 356px;
    height: 48px;
    color: white;
    border: none;
    margin: auto 0 auto;
    grid-area: place__bottom;
    background-image: linear-gradient(to right, #0278FE, #003A7B);
}

.place__bottom:hover {
    box-shadow: 5px 5px 10px 0px #00000040;
    border: none;
}

.place__website {
    grid-area: place__website;
    margin: auto 0 0 0;
    height: 67px;
    font-size: 18px;
    line-height: 22px;
}

.website__actor {
    font-size: 12px;
    color: #AAAAAA;
    margin-bottom: 8px;
}

.place__paragraph {
    display: grid;
    font-size: 18px;
    font-weight: 400;
    line-height: 163%;
    margin: 0;
    gap: 25px;

}

.paragraph {
    margin: 0;
    font-size: 18px;
    width: 484px;
}

@media screen and (max-width:1280px) and (min-width:768px) {
    .places {
        margin: 0 148px;
    }

    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: auto 340px auto;
        grid-template-areas:
            "place__title place__website"
            "place__image place__paragraph"
            "place__bottom .";
        gap: 28px 40px;
        justify-content: center;
    }

    .place__title {
        font-size: 42px;
    }

    .place__image {
        width: 340px;
        height: 340px;
    }

    .place__paragraph {
        overflow: scroll;
    }

    .paragraph {
        font-size: 16px;
        width: auto;
    }

    .place__bottom {
        width: 355px;
    }
}

@media screen and (max-width:767px) {

    .place {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "place__title"
            "place__website"
            "place__image"
            "place__paragraph"
            "place__bottom";
        gap: 30px;
        margin: 0 0 50px;
        justify-content: center;
    }

    .place__title {
        font-size: 35px;
        margin: 16px;
    }

    .place__website {
        font-size: 18px;
        margin: 16px;
    }

    .website__actor {
        font-size: 12px;
    }

    .place__image {
        width: 100%;
        height: 320px;
        margin: 0 16px 0;
    }

    .paragraph {
        font-size: 16px;
        width: auto;
        height: auto;
        margin-right: 16px;
        margin-left: 16px;
    }

    .place__bottom {
        width: 100%;
        height: 48px;
        margin: 0 16px 0;
        font-size: 18px;
    }
}