.places {
    padding: 0 148px;
    margin: 0 auto;

}

.place {
    width: 100%;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 460px auto;
    grid-template-areas:
        "place__title place__website"
        "place__image place__paragraph"
        "place__bottom .";
    border: solid 2px red;
    gap: 48px 40px;
}

.place__title {
    grid-area: place__title;
    font-size: 72px;
    width: 100%;
    height: 100%;
    margin: 0;

}

.place__image {
    width: 460px;
    height: 460px;
    box-shadow: inset;
    margin: 0 0;
}

.place__image:hover {
    box-shadow: 10px 10px 25px 0px #00000080;


}

.bottom {
    width: 356px;
    height: 48px;
    color: white;
    border: none;
    margin: auto 0 auto;
    grid-area: place__bottom;
    background-image: linear-gradient(to right, #0278FE, #003A7B);
}

.bottom:hover {
    box-shadow: 10px 2px 20px black;
    border: none;
}

.place__website {
    grid-area: place__website;
    margin: auto 0 0 0;
    height: 67px;
}

.website__actor {
    color: #AAAAAA;
}

.place__paragraph {
    display: grid;
    font-size: 18px;
    font-weight: 400;
    line-height: 163%;
    margin: 0;
    gap: 25px;
}

.paragraph{
    margin: 0;
}